<!--Header consisting of CTV News link / Main Logo which connect to main site / social links-->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a class="ctvLink" href="https://www.ctvnews.ca/"><i class="fa fa-angle-left" style="font-size:1rem"></i>
                CTV News</a>
        </div>
        <div class="col-md-4" id="logo">
            <a href="https://www.ctvnews.ca/" id = "logo_container">
                <img class="center-block" src="..\..\assets\icons\ctv_logo.png" alt="ctv">
            </a>
        </div>
        <div class="col-md-4" id="follow">
            <div class="nav1">
                <p class="title">FOLLOW ON</p>
                <a href="https://www.facebook.com/CTVNews" style="margin: 0px 5px">
                    <img src="..\..\assets\icons\social_media\social-facebook_@1x.png" alt="social-facebook">
                </a>
                <a href="https://twitter.com/ctvnews" style="margin: 0px 5px">
                    <img src="..\..\assets\icons\social_media\Social_twitter_@1x.png" alt="social-twitter">
                </a>
                <a href="https://www.instagram.com/ctvnews/" style="margin: 0px 5px">
                    <img src="..\..\assets\icons\social_media\instagram_@1x.png" alt="social-instagram">
                </a>
                <a href="https://www.youtube.com/ctvnews" style="margin: 0px 0px 0px 5px">
                    <img src="..\..\assets\icons\social_media\social_youtube_@1x.png" alt="social-youtube">
                </a>
            </div>
        </div>
    </div>
</div>



<!--
<section>
    <div class="election-returnhome-cta">
        <a href="https://www.ctvnews.ca/">CTV News</a>
    </div>
    <div class="election-brandlogo-cta">
        <a href="https://election.ctvnews.ca/">
            <div class="image">
                <img src="https://www.ctvnews.ca/polopoly_fs/1.4483246!/httpImage/image.png_gen/derivatives/default/image.png"
                    alt="">
            </div>
        </a>
    </div>
    <div class="election-follow-cta">

        <div class="connect element none">
            <p class="title">FOLLOW ON</p>
            <a class="connect-facebook-icon social-icon" style="text-decoration: none !important;"
                href="..\..\assets\icons\social_media\social-facebook_@1x.png"></a>
            <a class="connect-twitter-icon social-icon" style="text-decoration: none !important;"
                href="..\..\assets\icons\social_media\Social_twitter_@1x.png"></a>
            <a class="connect-insta-icon social-icon" style="text-decoration: none !important;"
                href="..\..\assets\icons\social_media\instagram_@1x.png"></a>
            <a class="connect-youtube-icon social-icon" style="text-decoration: none !important;"
                href="..\..\assets\icons\social_media\social_youtube_@1x.png"></a>
        </div>
        <script type="text/javascript">
            jQuery(document).ready(
                function () {
                    requiresDependency('https://static.ctvnews.ca/bellmedia/common/js/jquery.tooltipster.min.js', function () {
                        $('.tooltip').tooltipster({
                            arrowColor: '#F4F4F4',
                            interactive: true
                        });
                    });
                });
        </script>
    </div>

    <script>
        jQuery(document).ready(function () {
            $(".banner .election-follow-cta").clone().appendTo('.content');
            if ($('.electionArticlePrimary').length > 0) {
                $(".content .election-follow-cta").addClass('border-top');
            }
        });
    </script>
</section>

-->