<!-- Social Media link for movile view-->
<div class="nav1">
    <p class="title">FOLLOW ON</p>
    <a href="https://www.facebook.com/CTVNews" style="margin: 0px 5px">
        <img src="..\..\assets\icons\social_media\social-facebook_@1x.png" alt="social-facebook">
    </a>
    <a href="https://twitter.com/ctvnews" style="margin: 0px 5px">
        <img src="..\..\assets\icons\social_media\Social_twitter_@1x.png" alt="social-twitter">
    </a>
    <a href="https://www.instagram.com/ctvnews/" style="margin: 0px 5px">
        <img src="..\..\assets\icons\social_media\instagram_@1x.png" alt="social-instagram">
    </a>
    <a href="https://www.youtube.com/ctvnews" style="margin: 0px 0px 0px 5px">
        <img src="..\..\assets\icons\social_media\social_youtube_@1x.png" alt="social-youtube">
    </a>
</div>