<!--Second Cover-->
<div class="wrapper-box">
    <div class="box-content">
        <mat-card class="custom">
            <img mat-card-image src="..\..\assets\images\x\council.png" alt="council">
            <mat-card-content>
                Nemo enim ipasam voluptatem qula voluptas sit aspernatur
            </mat-card-content>
        </mat-card>
        <p id="content">
            Nemo enim ipsam voluptatem qula voluptas sit aspernatur
        </p>
        <div class="container">
            <div class="row" id="divider">
                <div class="col-3" style="border-top: 2px solid red; color: red; padding-left: 0; font-weight:400; font-size: 1rem;">New</div>
                <div class="col-8" style="border-top: 1px solid grey; margin-left:11px; line-height: 6pt;"></div>
            </div>
        </div>
        <p id="content">
            Duis aute irure dolor in reprehenderit in voluptate velit
        </p>
    </div>
</div>