@font-face {font-family: 'webIconFont';
  src: url('https://static.ctvnews.ca/bellmedia/ctvnews/css/webfonts/webiconfont-v6.eot?s=2_6780');
  src: url('https://static.ctvnews.ca/bellmedia/ctvnews/css/webfonts/webiconfont-v6.woff?s=2_6780') format('woff'),
  url('https://static.ctvnews.ca/bellmedia/ctvnews/css/webfonts/webiconfont-v6.ttf?s=2_6780') format('truetype'),
  url('https://static.ctvnews.ca/bellmedia/ctvnews/css/webfonts/webiconfont-v6.svg#webiconfont?s=2_6780') format('svg');
  font-weight: normal;
  font-style:normal;
}

@font-face {
  font-family: 'CTVSans-Regular';
  src: url('https://static.ctvnews.ca/bellmedia/ctvnews/css/webfonts/CTVSans-Regular.otf?s=2_6780') format('opentype');
  src: url('https://static.ctvnews.ca/bellmedia/ctvnews/css/webfonts/CTV_Sans-Regular.woff?s=2_6780') format('woff'),url('https://static.ctvnews.ca/bellmedia/ctvnews/css/webfonts/CTV_Sans-Regular.ttf?s=2_6780') format('truetype');
  font-weight: normal;
  font-style:normal;
}

.border-title {
  font-family: 'CTVSans-Bold', 'CTV Sans', Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  max-height: 5px; 
  margin: 5% 0% 0% 5%;
  width: 90%; 
  text-align:left; 
 }
 
#title {
  font-family: 'TVSans-Bold', Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 0% 5% 0% 5%;
  color: #4a4a4a;
}

#content {
  font-family: 'TVSans-Regular', Arial, sans-serif;
  font-size: 1rem;
  text-align: left;
  padding: 0 0 0 5%;
  color: #4a4a4a;
}

.wrapper-box { 
  float: center;
  width:100%; 
  max-height: 500px; 
}

.side-border.l {
  margin-top:26px; 
  width: 5%;
  max-height: 5px;
  float:left; 
  border-left: solid #4a4a4a 1px;
  border-top: solid #4a4a4a 1px;
  margin-right: 1%;   
}

.box-content {
  float:left;
  max-width:100%; 
  max-height: 600px; 
  border-left: solid #4a4a4a 1px; 
  border-right: hidden; 
  border-bottom: solid #4a4a4a 1px; 
  }

  .img-responsive {
    max-width: 100%;
    padding: 5% 0% 5% 5%;
    max-height: auto;
    display: block;
  }


  @media screen and (max-width: 992px ){
    .side-border.l{
      display: none;
    }

    .wrapper-box { 
      float: center;
      width:100%; 
      max-height: 500px; 
    }
        
    .border-title {
      font-family: 'CTVSans-Bold', 'CTV Sans', Arial, Helvetica, sans-serif;
      font-size: 0.85rem;
      font-weight: bold;
      max-height:5px; 
      margin-bottom: 10px;
      width: 90%; 
      text-align:center; 
      padding: 0;
     }

    .box-content {
     float:left;
     max-height:600px ; 
     margin: 0;
     border: 0;
     width: 100%; 
    }

    #title {
      font-family: 'TVSans-Bold', Arial, sans-serif;
      font-size: 1rem;
      font-weight: bold;
      padding: 0;
      color: #4a4a4a;
      text-align: justify;
    }
    
    #content {
      font-family: 'TVSans-Regular', Arial, sans-serif;
      font-size: 1rem;
      text-align: left;
      padding: 0;
      color: #4a4a4a;
    }    

    .img-responsive {
      max-width: 100%;
      padding: 10px 0 10px 0;
      max-height: auto;
      display: block;
    }    

  }