<!--Main Cover-->
<div class="wrapper-box">
  <div class="side-border l"></div>
  <div class="border-title">FULL COVERAGE - WERNICK RETIRES</div>
  <div class="box-content">
    <img src="..\..\assets\images\x\wernick.png" class = "img-responsive"  alt="wernick">
    <p id="title">
      Pharetra convallis posuere morbileo urna molestie at elementum dolar eu.
    </p>
    <p id="content">
      orname lectus sit amet est. porta nibh bennenatis cras sed felis eget velit aliquent. Massa ki neque allquam wetstibumrm moral blandit.
    </p>
  </div>
</div>
