
<!--Top Series-->
<div class="wrapper-box">
  <div class="box-content">
    <h3>TOP STORIES</h3>
    <mat-card class="custom">
      <img src="..\..\assets\images\x\ndp.png" class="mat-card-image" alt="ndp">
      <mat-card-content>
        Excepteur sint occaecat cupidatat non proident
      </mat-card-content>
      <a href="https://www.ctv.ca/Home"><i class="fa fa-horizontal-rule"></i><i class="fa fa-caret-right" style="font-size:18px"></i> Watch Now</a>
    </mat-card>
    <p id="content">
      Ut enim ad minim veniam, quis nostrud
    </p>
    <div class="container">
      <div class="row" id="divider">
        <div class="col-3" style="border-top: 2px solid blue; color: blue; padding-left: 0; font-weight:400; font-size: 1rem;">Updated</div>
        <div class="col-8" style="border-top: 1px solid grey; margin-left:11px; line-height: 6pt;"></div>
      </div>
    </div>
    <p id="content">
      Fermentum dui faucibus in ornare quam. Pharetra convallis posuere molestie at elementum eu.
    </p>
    <hr>
    <p id="content">
      Nisi vitae suscipit tellus mauris adiam. Ut aliquam pursus sit amet luctus
    </p>
    <div class="container">
      <div class="row" id="divider">
        <div class="col-3" style="border-top: 2px solid red; color: red; padding-left: 0; font-weight:400; font-size: 1rem;">New</div>
        <div class="col-8" style="border-top: 1px solid grey; margin-left:11px; line-height: 6pt;"></div>
      </div>
    </div>
    <p id="content">Excepteur sint occaecat cupidatat non proident</p>
    <hr>
  </div>
</div>